/**
This P2 CSS file is used to give the background of the webpage
Done - by Md Ishfaq Alam (A00450249)
*/

/** User defined classes*/

.ui-page,
.ui-header {
  background: #92bb94 !important;
}

.ui-slider-input {
  display: none !important;
}

/** User defined ID's*/

/** Output text box Id's*/
#planSldOut,
#wallOut,
#doorThermalResistanceSldOut,
#WindowThermalResistanceSldOut,
#windowSldOut,
#EffectiveOverallThermalResistanceOutput {
  width: 50px;
}

#KWhAnuualEnergy {
  width: 75px;
}

#OutputBox {
  margin-left: 15%;
  width: 80%;
}

#centerIDSliders {
  width: 328px;
}

#ConceptsPara {
  font-size: 19px;
  padding-left: 10px;
}
